*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.container{
    width: 90%;
    margin: 0 auto;
}

button{
    border: none;
    cursor: pointer;
}   

a {
    text-decoration: none;
}

/* header */

#header{
    background: #EEEFF1;
    padding: 20px 70px;
}


.header_right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 79px;
}

.header_link{
    display: flex;
    gap: 42px;
}

.header a {
    font-size: 16px;
    color: #000000;
}

.header_left{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px;
    padding: 150px 0 147px 100px;
}

.header_text h1{
    font-size: 48px;
    color: #000000;
    padding-bottom: 25px;
}

.header_text p {
    font-size: 16px;
    line-height: 26.25px;
    color: #727272;
    padding-bottom: 20px;
}

.header_text button{
    padding: 15px 25px;
    background:  #34547A;
    font-size: 16px;
    line-height: 26.25px;
    color:  #FFFFFF;
}

/* about */

#about{
    padding: 50px 70px;
}

.about h2{
    font-family: Roboto;
    color: #000000;
    padding-bottom: 50px;
    text-align: center;
}

.about p{
    font-family: Roboto;
    color: #727272;
    width: 540px;
    text-align: center;
    margin: 0 auto;
}

/* item */

#item{
   padding: 50px 70px;
    background:#34547A;

}

.items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 70px 0 20px 30px
}

.item{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 15px;
}

.item_content h3 {
    font-family: Roboto;
    font-size: 21px;
    color:  #FFFFFF;
}


.item_content p {
    font-family: Roboto;
    font-size: 16px;
    color: #FFFFFF;
    ;

}

/* skills */

#skills{
    padding: 100px 70px;
}

.skills{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.skills img {
    width: 555px;
}

.skills_contenrt h2{
    font-size: 32px;
    color: #000000;
}

.skills_info {
   padding-top: 30px;
}


.skills_info p {
    color: #727272;
    font-size: 16px;
    padding-bottom: 20px;
}


/* work */

#work{
    padding: 50px 70px;
}

.work h2{
    color:  #000000;
    font-size: 32px;
    padding-bottom: 30px;
    text-align: center;
}

.work p {
    font-size: 16px;
    color: #727272;
    width: 540px;
    text-align: center;
    line-height: 27px;
    margin: 0 auto;
}

.work img {
    width: 1110px;
   padding-top: 57px;
   padding-left: 195px;
}


/* microsoft */

#microsoft{
    padding: 50px 10px;
}

.microsoft img {
  width: 100%;

}


.microsoft_image {
    display: flex;
    gap: 30px;
    padding: 70px 0 50px 100px;
}

/* website */

#website{
    padding: 20px 50px;
    background: #EEEFF1;

}

.website h2{
    font-size: 32px;
    color: #000;
    padding: 30px;
    text-align: center;
}

.website p {
    font-size: 16px;
    line-height: 26.25px;
    text-align: center;
    width: 540px;
    color: #727272;
    margin: 0 auto;
    padding-bottom: 30px;
}


.website_input{
   padding-left: 300px;
   
}



.website_input input{
    width: 255px;
    height: 50px;
  
}


.input_message input {
    width: 540px;
    height: 175px;
    margin-top: 25px;

}

.website button {
    padding: 15px 25px;
    background:  #34547A;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    margin-left: 500px;
   margin-top: 50px;
}

/* footer */

#footer{
    padding: 40px 50px;
    background: #34547A;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_tittle h3 {
    color: #FFFFFF;
    font-size: 21px;
    padding-bottom: 10px;
}

.footer_tittle p {
    font-size: 13px;
    line-height: 21.33px;
    color: #FFFFFF;

}